body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff5f5;
}

.navbar {
    background-color: #e23744;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-size: 36px;
    color: #333;
}

.hero p {
    font-size: 18px;
    color: #666;
}

.btn {
    background-color: #e23744;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.menu-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
}
input {
    width: 250px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    border: none;
    cursor: pointer;
}
 